<!DOCTYPE html>
<html>


<head>
    <meta charset="UTF-8">
    <title>EQUIPOS</title>
    <link href="css/estilos.css" rel="stylesheet">
    <link rel="stylesheet" href="icono/css/all.css">
</head>

<body>
    <header>
        <h1 class="titulo1">LA LIGA DE FUTBOL</h1>
    </header>

    <nav>
        <ul class="menul">
            <li><a class="menuli" href="index.html">HOME</a></li>
            <li><a class="menuli" href="fixture.html">FIXTURE Y RESULTADOS</a></li>
            <li><a class="menuli" href="equipos.html">EQUIPOS</a></li>
        </ul>
    </nav>
    <div class="centro">
        <section class="section">
            <br />
            <table>
                <tr>
                    <td>
                        <img class="imgtp" src="img/arsenal.gif" alt="">
                    </td>
                    <td>
                        <p class="pequipo">En Sarandí el 11 de Enero de 1957, un grupo de muchachos se reunió en el ex bar "Las 3 FFF" y , con la ilusión de todo principio, fundaron el Arsenal Fútbol Club . Entre aquellos socios fundadores podemos citar a los señores Julio
                            Humberto Grondona ( qui en fue el primer presidente ), Roberto Estévez.
                        </p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <img class="imgtp" src="img/arsenal.gif" alt="">

                    </td>
                    <td>
                        <p class="pequipo">Arsenal Fútbol Club es un club de fútbol argentino que pertenece a la ciudad de Sarandí, en el partido de Avellaneda, provincia de Buenos Aires, fundado el 11 de enero de 1957. Actualmente participa en la Superliga Argentina, luego
                            de haberse coronado campeón de la Primera B Nacional 2018-19. Entre sus máximos logros se encuentran los campeonatos de la liga local obtenidos en el Clausura 2012, la Supercopa Argentina 2012 y la Copa Argentina 2013. Mientras
                            que en el plano internacional, también ha logrado consagrarse en la Copa Sudamericana 2007 y la Copa Suruga Bank 2008. Su último logro lo obtuvo el 16 de octubre de 2013, al consagrarse campeón de la Copa Argentina 2012-13,
                            sumando su quinto título oficial desde su ingreso a la máxima categoría, de la mano de Gustavo Alfaro, uno de los ídolos del club. El 1 de abril de 2018 se determinó su descenso a la B Nacional, siendo el único de la Primera
                            División, tras 16 años ininterrumpidos en la categoría. Su clásico rival es el Club El Porvenir,1 aunque debido a la diferencia de categoría de los dos equipos este partido no se disputa desde el Campeonato de Primera B Nacional
                            2001-02.
                        </p>
                    </td>
                </tr>
            </table>
        </section>
        <aside>
            <h4 class="auspi"> Auspiciantes</h4>
            <a class="publi" href="https://www.adidas.com.ar/"><img class="imga" src="img/adidas.jpg" alt=""></a>
            <a class="publi" href="https://www.macro.com.ar/"><img class="imga" src="img/macro.jpg" alt=""></a>
            <a class="publi" href="https://www.chevrolet.com.ar/"><img class="imga" src="img/chevrolet.jpg" alt=""></a>
            <a class="publi" href="https://www.fravega.com/"><img class="imga" src="img/fravega.jpg" alt=""></a>
        </aside>
    </div>
    
    <footer>
        <div id="social-bar">
            <button><i class="fab fa-facebook-square" ></i></button>
            <button><i class="fab fa-twitter-square"></i></button>
            <button><i class="fab fa-instagram-square"></i></button>
            <button><i class="fab fa-pinterest-square"></i></button>
            <button><i class="fab fa-youtube"></i></button>
        </div>
        <div id="direccion">
            <h5>Avenida Pedro Ortiz de Zarate Nº 455 - Tel 388 4789558</h5>
        </div>
    </footer>
</body>

</html>